.bgc {
  background-color: aqua;
}


:root {
  --rt: 215deg;
  --rtm: -215deg;
  --fcolor: #8400ff;
}


@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

@keyframes apear {
  100% {
    opacity: 1;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: "Source Sans Pro", sans-serif;
}

.body2 {
  opacity: 0;
  margin: 0;
  width: 100% !important;
  display: none;
}

.body2.show {
  opacity: 1;
  text-align: center;
  transition: 1s all;
}

.svgintro {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.bgsmooth {
  opacity: 0;
  transition: 1s all;
}

.cls-1 {
  margin: 0;
  fill: #000;
  transform-box: fill-box;
  transform-origin: center;
}

.overflow {
  overflow: unset;
  overflow-y: hidden;
  overflow-x: hidden;
}

.transform1 {
  transform: translateX(50vw) rotate(var(--rt));
  transform-box: fill-box;
  transform-origin: center;
}

.transform2 {
  transform: translateX(-50vw) rotate(var(--rtm));
  transform-box: fill-box;
  transform-origin: center;
}

.transform3 {
  transform: translateY(50vh) rotate(var(--rt));
  transform-box: fill-box;
  transform-origin: center;
}

.transform4 {
  transform: translateY(-50vh) rotate(var(--rtm));
  transform-box: fill-box;
  transform-origin: center;
}

.transform5 {
  transform: translateY(50vh) rotate(var(--rtm));
  transform-box: fill-box;
  transform-origin: center;
}

.transl {
  transition: 1s all;
}

.expand {
  -webkit-transform: scale(1.3);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: 1s;
  transform: scale(1.3);
  transform-origin: 50% 50%;
  transition: 1s;
  transform-box: fill-box;
  /* filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.938)); */
}

/* NAVBAR */
.menu {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px !important;
  letter-spacing: 1px;
  font-weight: bold !important;
}

.content {
  width: 94%;
  margin: 3em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  line-height: 60px;
}

nav a {
  text-decoration: none;
}

nav ul {
  text-decoration: none;
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #000;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s all;
}

nav.black ul {
  text-decoration: none;
  background: #ffffff;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  padding: 16px 30px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s all;
}
nav ul li a:hover {
  text-decoration: none;
  color: #8400ff;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #ffffff00;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #000;
  display: none;
  transition: 1s all;
}


@media (max-width: 900px) {
  .logo {
    position: fixed;
    color: black !important;
    top: 0;
    margin-top: 16px;
  }

  nav.black ul {
    text-decoration: none;
    background: #ffffff;
  }

  nav ul {
    max-height: 0px;
    background: #ffffff;
  }

  nav.black ul {
    background: #ffffff;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
    transition: 1s all;
  }

  .menu-icon.black {
    display: block;
    background: white;
  }
}


/* MainIntro */

.MainIntro {
  height: 100vh;
  /* background-image: ; */
}


/* presentation */

.presentation-wrapper {
  width: 100vw;
  height: 100vh;
  
}

.presentation-content {
  background-color: rgb(245, 245, 245);
  border-bottom: #8400ff 3px solid;
  /* font-size: 6rem !important; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/bg-present.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 

.presentation-content span {
  width: auto;
  border: none;
  color: white;
  height: auto;
  background-color: #8400ff;
  font-weight: bold;
}

.buttons-pres {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 20px;
}

.buttons-pres input[type="button"] {
  text-align: center;
  margin: 10px;
  letter-spacing: 1px;
  border: none;
  width: 45%;
  height: 3rem;
  min-width: 125px;
  max-width: 200px;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  background: linear-gradient(110deg, #8400ff 0%, #9a2eff 91%);
  border-radius: 8px;
  transition: 0.5s all;
}

.buttons-pres input[type="button"]:hover {
  transform: translateY(-4px);
}

.socials-pres {
  bottom: 0;
  position: absolute;
  display: inline-flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: auto;
  background-color: rgb(245, 245, 245);
  border-top: #8400ff 3px solid;
  border-right: #8400ff 3px solid;
  border-left: #8400ff 3px solid;
  border-bottom: rgb(245, 245, 245) 3px solid !important;
}

.socials-pres i {
  transition: 0.5s all;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
  color: black;
  font-size: 3vw;
}

.socials-pres a {
  text-decoration: none;
}

.socials-pres i:hover {
  background-color: #a94effa9;
  transform: scale(1.06) translateY(-3px);
}

@keyframes blink-cursor {
  0% {
    background-color: whitesmoke;
  }
  49% {
    background-color: whitesmoke;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: whitesmoke;
  }
}

span.cursor {
  display: inline-block;
  background-color: whitesmoke;
  width: 3px !important;
  height: 90%;
  border-top: 3px solid #8400ff;
  border-bottom: 3px solid #8400ff;
  padding-right: 2px;
  animation: blink-cursor 1s infinite;
}


/* @media (min-width:320px)  { 
  #circle {display: none!important;
  } smartphones, iPhone, portrait 480x320 phones 
  .socials-pres i {
    font-size: 5vw;
  }
}

@media (min-width:481px)  { 
  #circle {display: none!important;
  } portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. 
  .socials-pres i {
    font-size: 5vw;
  }
} */

@media (max-width:641px)  { 
  #circle {display: none!important;
  }/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  .socials-pres i {
    font-size: 5vw;
  }
  .paddMobile {
    padding-top: 30px;
  }
  .card2 {
    text-align: center !important;
  }
  .skills-wrapper {
    justify-content: center !important;
  }
  .card-wrapper {
    justify-content: center;
  }
  .year-ind {
    justify-content: center;
  }
  .exp-mobile {
    display: block !important;
  }

  .exp-card {
    width: 100% !important;
  }
}

@media (min-width:980px)  { 
  #circle {display: none!important;
  }/* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .socials-pres i {
    font-size: 2vw;
  }
}

@media (min-width:1025px) { 
  #circle {display: block!important;
  }/* big landscape tablets, laptops, and desktops */ 
  .socials-pres i {
    font-size: 2vw;
  }
}

@media (min-width:1281px) { 
  #circle {display: block!important;
    
  }/* hi-res laptops and desktops */ 
  .socials-pres i {
    font-size: 2vw;
  }
}

.second-wrapper {
  width: 100%;
  padding: 50px;
  background-color: whitesmoke;
  text-align: center;
}

.second-wrapper .title {
  color: #000;
  letter-spacing: 3px;
  font-weight: bold!important;
}

.second-wrapper .card2 {
  min-width: 20rem;
}

.undelined {
  width: 10%;
  position: relative;
  border: 4px solid transparent;
  border-radius: 16px;
  background: linear-gradient(126deg, #8400ff 0%, #b567ff 91%);
  background-clip: padding-box;
  padding: 5px;
  margin: auto;
  opacity: 1 !important;
  /* border: 5px solid;
  border-radius: 15px;
  border-image: linear-gradient(126deg, #8400ff, #9e36ff) 1; */
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  justify-content: right;
  height: auto;
}

.skill {
  cursor:pointer;
  padding: 10px;
  margin: 5px;
  width: fit-content;
  background-color: #8400ff;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: .5s all;
}

.skill:hover {
  transform: scale(1.1);
}

.not-hovered {
  background-color: #c080ff !important;
  transform: scale(0.9);

}

.third-wrapper {
  background-color: whitesmoke;
  padding: 50px;
  padding-top: 0;
}

.third-wrapper .title {
  color: #000;
  letter-spacing: 3px;
  font-weight: bold!important;
}

.third-wrapper .exp-card hr {
  width: 100% !important;
  opacity: 1 !important;
}

.year-ind {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.exp-hr {
  width: 5%;
  margin:5px;
  border-top: 5px solid var(--fcolor);
  border-radius: 15px;
  opacity: 1 !important;
}

.exp-mobile {
  display: none;
}

.exp-title {
  transform: translateY(-8px);
  font-size: 20px;
  font-weight: bold;
}

.exp-card {
  background-color: white;
  width: 20vw;
  min-width: 200px;
  border-radius: 10px;

  margin: 15px;

  -webkit-box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.42);
  box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.42); 
}

.exp-card-title {
  color: var(--fcolor);
  font-weight: bold;
  padding: 10px;
}

.exp-card hr {
  width: 90%;
  border-top: 4px solid #8400ff;
  margin-top: -5px;
  border-radius: 5px;
}

.exp-card-content {
  font-size: 16px;
  color: black;
  padding: 10px;
}

.exp-card-content a {
  color: var(--fcolor);
  text-decoration: underline;
}


.fourth-wrapper {
  padding: 50px;
  padding-top: 0;
}

.image-project {
  max-height: 100%;
}



footer {
  text-align: center;
  padding: 20px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #d09dff;
  bottom:0;
}

.fade-in {
  opacity: 0;
  transition: all 1s;
  transform: translateY(40px);
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0px);
}