.bgc {
  background-color: aqua;
}


:root {
  --rt: 215deg;
  --rtm: -215deg;
  --fcolor: #8400ff;
}


@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

@keyframes apear {
  100% {
    opacity: 1;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: "Source Sans Pro", sans-serif;
}

.body2 {
  opacity: 0;
  margin: 0;
  width: 100% !important;
  display: none;
}

.body2.show {
  opacity: 1;
  text-align: center;
  transition: 1s all;
}

.svgintro {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.bgsmooth {
  opacity: 0;
  transition: 1s all;
}

.cls-1 {
  margin: 0;
  fill: #000;
  transform-box: fill-box;
  transform-origin: center;
}

.overflow {
  overflow: unset;
  overflow-y: hidden;
  overflow-x: hidden;
}

.transform1 {
  transform: translateX(50vw) rotate(var(--rt));
  transform-box: fill-box;
  transform-origin: center;
}

.transform2 {
  transform: translateX(-50vw) rotate(var(--rtm));
  transform-box: fill-box;
  transform-origin: center;
}

.transform3 {
  transform: translateY(50vh) rotate(var(--rt));
  transform-box: fill-box;
  transform-origin: center;
}

.transform4 {
  transform: translateY(-50vh) rotate(var(--rtm));
  transform-box: fill-box;
  transform-origin: center;
}

.transform5 {
  transform: translateY(50vh) rotate(var(--rtm));
  transform-box: fill-box;
  transform-origin: center;
}

.transl {
  transition: 1s all;
}

.expand {
  -webkit-transform: scale(1.3);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: 1s;
  transform: scale(1.3);
  transform-origin: 50% 50%;
  transition: 1s;
  transform-box: fill-box;
  /* filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.938)); */
}

/* NAVBAR */
.menu {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px !important;
  letter-spacing: 1px;
  font-weight: bold !important;
}

.content {
  width: 94%;
  margin: 3em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  float: left;
  margin: 16px 26px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;

  position: absolute;
  top: 0;
}

#navPicture {
  transition: 1s all;
}

nav {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  line-height: 60px;
}

nav a {
  text-decoration: none;
}

nav ul {
  text-decoration: none;
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #000;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s all;
}

nav.black ul {
  text-decoration: none;
  background: linear-gradient(-70deg, rgba(104,25,185,1) 0%, rgba(101,53,149,1) 100%);}

nav ul li {
  text-decoration: none;
  display: inline-block;
  padding: 16px 30px;
}

nav ul li hr{
  margin: 0 !important;
  transform: translateY(-10px);
  color: white;
  opacity: 1 !important;
  height: 2px !important;
  width: 0px;
  transition: 0.5s all;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s all;
}

nav ul li a:hover {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

nav ul li a:hover hr {
  width: 100%;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #ffffff00;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #000;
  display: none;
  transition: 1s all;
}


@media (max-width: 900px) {
  .logo {
    color: white !important;
    top: 0;
    margin-top: 16px;
  }

  nav.black ul {
    text-decoration: none;
    background: #ffffff;
  }

  nav ul {
    max-height: 0px;
    background: linear-gradient(128deg, rgb(123, 33, 214) 0%, rgb(64 15 113) 100%); ;
  }

  nav.black ul {
    background: #ffffff;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
    color: white;
    transition: 1s all;
  }

  .menu-icon.black {
    display: block;
    background: white;
  }
}


/* MainIntro */

.MainIntro {
  height: 100vh;
  /* background-image: ; */
}


/* presentation */

.presentation-wrapper {
  width: 100vw;
  height: 90vh;
  
}

.presentation-content {
  background-color: rgb(245, 245, 245);

  height: 90vh;
  width: 100vw;
  color: white;
  text-align: left; 
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%237b21d6' fill-opacity='0.2'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), 
  linear-gradient(128deg, #7b21d6 0%, #400f71 100%); 

  /* background: rgb(104,25,185);
  background: linear-gradient(128deg, rgb(123, 33, 214) 0%, rgb(64 15 113) 100%);  */

} 

.presentation-content span {
  width: auto;
  border: none;
  color: white;
  height: auto;
  font-weight: bold;
}

.buttons-pres {
  margin-top: 20px;
}

.buttons-pres input[type="button"] {
  text-align: center;
  letter-spacing: 1px;
  border: 4px solid #442069;
  height: 3rem;
  min-width: 125px;
  max-width: 200px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;

  background-color: rgba(0, 0, 0, 0);

  /* background: linear-gradient(110deg, #8400ff 0%, #9a2eff 91%); */
  border-radius: 8px;
  transition: 0.5s all;
}

.buttons-pres input[type="button"]:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
  background-color: #b567ff;
  border: 4px solid #b567ff;
  color: white;
}

.socials-pres {
  bottom: 0;
  position: absolute;
  z-index: 3;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: auto;

  background-color: rgb(245, 245, 245);

  border-bottom: rgb(245, 245, 245) 3px solid !important;
}

.socials-pres::before{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  z-index: 2;
  transform: translateX(-40px) translateY(2.5px);
  width: 40px;
  height: 40px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 50%;
  background-color: #451079;
}

.socials-pres::after{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  z-index: 2;
  transform: translateX(40px) translateY(2.5px);
  right: 0;
  width: 40px;
  height: 40px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 50%;
  background-color: #421075;
}

.blocker {
  position: absolute;
  z-index: 1;
  transform: translateX(-20px) translateY(8px);
  bottom: 0;
  background-color: whitesmoke;
  width: 25px;
  height: 25px;
}

.blocker2 {
  position: absolute;
  z-index: 1;
  transform: translateX(20px) translateY(10px);
  bottom: 0;
  right: 0;
  background-color: whitesmoke;
  width: 25px;
  height: 25px;
}

.socials-pres i, .socials-pres svg {
  transition: 0.5s all;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: auto;
  margin: 10px;
  padding: 7px;
  transform: scale(1.1);
  color: #6725a9;
  font-size: 3vw;
}

.backSVGPreesentation {
  transform: translate(-1420px, 150px);
}

.socials-pres a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-pres i:hover, .socials-pres svg:hover {
  transform: scale(1.06) translateY(-3px);
}

@keyframes blink-cursor {
  0% {
    background-color: whitesmoke;
  }
  49% {
    background-color: whitesmoke;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: whitesmoke;
  }
}

span.cursor {
  display: inline-block;
  background-color: whitesmoke;
  width: 3px !important;
  height: 90%;

  padding-right: 2px;
  animation: blink-cursor 1s infinite;
}
 @media (min-width:641px) {
  .socials-pres {
    right: 0;
    margin-right: 40px;
  }
  .presentParg {
    text-align: left;
  }

}

@media (max-width:641px)  { 
  .backSVGPreesentation {
    width: auto !important;
    transform: none !important;
    height: auto !important;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    bottom: 0;
  }
  #circle {display: none!important;
  }/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  .socials-pres i , .social-pres svg{
    font-size: 6vw;
    width: 6vw;

  }
  .socials-pres {
    display: inline-flex;
  }
  .wave {
    display: none;
  }
  .backSVGPreesentation {
    transform: translate(-1460px, 250px);
  }
  .socials-pres::before{
    background-color: #5a179e;
  }  
  .socials-pres::after{
    background-color: #47117d;
  }
  .presentParg {
    text-align: left;
  }
  .presentation-content {
    align-items: center;
  }

  .paddMobile {
    padding-top: 30px;
  }
  .card2 {
    text-align: center !important;
  }
  .skills-wrapper {
    justify-content: center !important;
  }
  .card-wrapper {
    justify-content: center;
  }
  .year-ind {
    justify-content: center;
  }
  .exp-mobile {
    display: block !important;
  }

  .exp-card {
    width: 100% !important;
  }
}

@media (min-width:980px)  { 
  #circle {display: none!important;
  }/* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .socials-pres i, .social-pres svg {
    font-size: 2.5vw;
    width: 2.5vw;

  }

  
}

@media (min-width:1025px) { 
  #circle {display: block!important;
  }/* big landscape tablets, laptops, and desktops */ 
  .socials-pres i, .social-pres svg {
    font-size: 2.5vw;
    width: 2.5vw;

  }
}

@media (min-width:1281px) { 
  #circle {display: block!important;
    
  }/* hi-res laptops and desktops */ 
  .socials-pres i, .social-pres svg {
    font-size: 2vw;
    width: 2vw;

  }
}

.second-wrapper {
  width: 100%;
  padding: 50px;
  background-color: whitesmoke;
  text-align: center;
}


.title {
  color: #400F71;
  font-size: 32px;
  font-style: normal;
  font-weight: revert;
  line-height: normal;
}

.title-mid {
  color: #7B21D6;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.knowBetterParag {
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.second-wrapper .card2 {
  min-width: 20rem;
}

.undelined {
  width: 10%;
  position: relative;
  border: 4px solid transparent;
  border-radius: 16px;
  background: linear-gradient(126deg, #8400ff 0%, #b567ff 91%);
  background-clip: padding-box;
  padding: 5px;
  margin: auto;
  opacity: 1 !important;
  /* border: 5px solid;
  border-radius: 15px;
  border-image: linear-gradient(126deg, #8400ff, #9e36ff) 1; */
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  justify-content: right;
  height: auto;
}

.skill {
  cursor:pointer;
  padding: 10px;
  margin: 5px;
  width: fit-content;
  background-color: #8400ff;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: .5s all;
}

.skill:hover {
  transform: scale(1.1);
}

.not-hovered {
  background-color: #c080ff !important;
  transform: scale(0.9);
}

.experience-container {
  display: flex;
}

.experience-container-title {
  width: 50%;
  margin-top: 70px;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.experience-container-title h1 {
  color: #7B21D6;
  text-align: right;
  font-size: 126px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.experience-container-title p {
  color: #BC7AF5;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: right;
  line-height: normal;
}

.experience-pages {
  width: 50%;
  margin-top: 110px;
}


.exp-card-container {
  margin-left: 15px;
  padding-left: 15px;
  padding-bottom: 15vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-left: 3px solid #400F71; 
}

.experience-pages .exp-card-title::before {
  content: "";
  border: #000;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #BC7AF5;
  border-radius: 15px;
  transform: translateX(-34px);
}


.exp-card{
  padding: 10px;
  width: 100%;
  text-align: left;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}

.exp-card small {
  color: #BC7AF5;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.exp-card-title {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.exp-card-content {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link-container {
  color: white;
  background-color: #7b21d66c;
  padding: 2px 10px 2px 10px;
  width: fit-content;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 38px;
  cursor: pointer;
}

.link-container a {
  color: white;
}

.exp-skills-container {
  display: flex;
  flex-wrap: wrap;
}

.exp-skills-container .exp-skill {
  border-radius: 38px;
  background: #7B21D6;
  padding: 2px 10px 2px 10px;
  color: white;
  margin: 5px;
  margin-left: 0 !important;
  font-weight: bold;
}


/*
.third-wrapper .exp-card hr {
  width: 100% !important;
  opacity: 1 !important;
}

.year-ind {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.exp-hr {
  width: 5%;
  margin:5px;
  border-top: 5px solid var(--fcolor);
  border-radius: 15px;
  opacity: 1 !important;
}

.exp-mobile {
  display: none;
}

.exp-title {
  transform: translateY(-8px);
  font-size: 20px;
  font-weight: bold;
}

.exp-card {
  background-color: white;
  width: 20vw;
  min-width: 200px;
  border-radius: 10px;

  margin: 15px;

  -webkit-box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.42);
  box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.42); 
}

.exp-card-title {
  color: var(--fcolor);
  font-weight: bold;
  padding: 10px;
}

.exp-card hr {
  width: 90%;
  border-top: 4px solid #8400ff;
  margin-top: -5px;
  border-radius: 5px;
}

.exp-card-content {
  font-size: 16px;
  color: black;
  padding: 10px;
}

.exp-card-content a {
  color: var(--fcolor);
  text-decoration: underline;
} */


.fourth-wrapper {
  padding: 50px;
  padding-top: 100px;
}

.image-project {
  max-height: 100%;
}

.project-card-left {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.project-content-left {
  text-align: left;
}

.project-card-rigth {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.project-content-rigth {
  padding-right: 50%;
}



footer {
  text-align: center;
  padding: 20px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #d09dff;
  bottom:0;
  height: 10vh;
}

.fade-in {
  opacity: 0;
  transition: all 1s;
  transform: translateY(40px);
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0px);
}


.download-cv {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  animation: bounce 2s ease;
  z-index: 999;
  animation-delay: 2s;
  display: flex;
  flex-direction: column;
  align-items: end;
  transition: .5s all;
}

.download-cv-baloon {
  padding: 10px;
  background: linear-gradient(90deg, rgba(110,29,193,1) 0%, rgba(90,86,196,1) 100%);
  color: white;
  font-weight: bold;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(-30px,-10px);

  animation: fade-pop 1s ease;
}

@keyframes fade-pop {
  from {
    opacity: 0;
  }
  to {opacity: 1;}
}

.download-cv-baloon > * {
  margin-left: 4px;
  margin-right: 4px;
}

.download-cv-baloon::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid #5c51c4;
  border-left: 25px solid transparent;
  position: absolute;
  right: 0;
  transform: translate(-9px,27px);
}

.addMessage {
  display: flex;
  flex-direction: column;
  align-items: end;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.button-container {
  display: flex;
  background-color: #7820D0;
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
  rgb(123, 33, 214, 0.5) 5px 10px 15px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}